---
import AstroIcon from "./icons/AstroIcon.astro";
import TailwindIcon from "./icons/Tailwind.astro";
import JsIcon from "./icons/JavaScript.astro";
import LinkButton from "./LinkButton.astro";
import LinkIcon from "./icons/Link.astro";
import GitHubIcon from "./icons/GitHub.astro";
import ReactiIcon from "./icons/React.astro";
import viteIcon from "./icons/Vite.astro";
import bootIcon from "./icons/Bootstrap.astro"
import sassIcon from "./icons/Sass.astro"
import htmlIcon from "./icons/Html.astro"
import cssIcon from "./icons/Css.astro"

const TAGS = {
    ASTROICON: {
        name: "Astro",
        class: "bg-black text-red",
        icon: AstroIcon,
    },
    TAILWIND: {
        name: "Tailwind CSS",
        class: "bg-black text-white",
        icon: TailwindIcon,
    },
    JS: {
        name: "JavaScript",
        class: "bg-black text-white ",
        icon: JsIcon,
    },
    REACT: {
        name: "React JS",
        class: "bg-black text-white ",
        icon: ReactiIcon,
    },
    VITE: {
        name: "Vite",
        class: "bg-black  ",
        icon: viteIcon,
    },
    
    BOOTSTRAP: {
        name: "Bootstrap",
        class: "bg-black ",
        icon: bootIcon,
    },
    SASS: {
        name: "Sass",
        class: "bg-black ",
        icon: sassIcon,
    },
    HTML: {
        name: "HTML5",
        class: "bg-black ",
        icon: htmlIcon,
    },
    CSS: {
        name: "CSS",
        class: "bg-black ",
        icon: cssIcon,
    }
};

const PROJECTS = [
    {
        title: "Authentication Menu FullStack MERN",
        description:
            "Interfaz de usuario que permite a los usuarios crear una cuenta proporcionando un nombre de usuario, dirección de correo electrónico y contraseña.",
        link: "#",
        github: "https://github.com/santisordi/4str0/tree/develop",
        image: "/projects/codersLogin.jpg",
        tags: [TAGS.ASTROICON, TAGS.TAILWIND, TAGS.JS],
    },
    {
        title: "Ecommerce Regionales",
        description:"Proyecto Ecommerce ReactJS y bootstrap  ",
        link: "#",
        github: "https://github.com/santisordi/4str0/tree/develop",
        image: "/projects/regionales.png",
        tags: [TAGS.REACT, TAGS.BOOTSTRAP],
    },
    {
        title: "Tetris Vite",
        description:
            "Tetris realizado con vanilla JavaScript y Vite",
        link: "https://tetrisvitejs.netlify.app",
        github: "https://github.com/santisordi/Tetris-ViteJS",
        image: "/projects/tetrisVite.png",
        tags: [TAGS.JS, TAGS.VITE],
    },
    {
        title: "Portfolio ReactJS",
        description:
            "Interfaz de usuario que permite a los usuarios crear una cuenta proporcionando un nombre de usuario, dirección de correo electrónico y contraseña.",
        link: "https://portfoliosantiagosordi.netlify.app",
        github: "https://github.com/santisordi/4str0/tree/develop",
        image: "/projects/portfolioReact.png",
        tags: [TAGS.TAILWIND, TAGS.JS, TAGS.REACT],
    },
    {
        title: "Lucrecia casa de campo",
        description:
            "Website diseñado puro e integramente con hmtl, css y sass",
        link: "https://lalucreciacasadecampo.netlify.app",
        github: "https://github.com/santisordi/DesarrolloWeb-LaLucrecia",
        image: "/projects/ProyectoWeb-La Lucrecia.jpg",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.SASS],
    },
];
---
<div class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({ image, title, description, tags, link, github }) => (
            <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
                <div class="w-full md:w-1/2">
                    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                        <img
                            alt="Imagenes proyectos"
                            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
                            loading="lazy"
                            src={image}
                        />
                    </div>
                </div>

                <div class="w-full md:w-1/2 md:max-w-lg">
                    <h3 class="text-2xl font-bold text-sky-600 dark:text-gray-100">
                        {title}
                    </h3>
                    <div class="flex flex-wrap mt-2">
                        <ul class="flex flex-row mb-2 gap-x-2">
                            {tags.map((tag) => (
                                <li>
                                    <span
                                        class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                                    >
                                        <tag.icon class="size-4" />
                                        {tag.name}
                                    </span>
                                </li>
                            ))}
                        </ul>
                        <div class="mt-2 text-gray-100 dark:text-gray-400">
                            {description}
                        </div>
                        <footer class="flex items-end justify-start mt-4 gap-x-4">
                            {github && (
                                <LinkButton href={github}>
                                    <GitHubIcon class="size-6" />
                                    Code
                                </LinkButton>
                            )}
                            {link && (
                                <LinkButton href={link}>
                                    <LinkIcon class="size-4" />
                                    Preview
                                </LinkButton>
                            )}
                        </footer>
                    </div>
                </div>
            </article>
        ))
    }
</div>
